.navbar {
  border-bottom: solid 1px #EBEBEB;
  box-shadow:
  inset 0px -11px 8px -10px #CCC,
  inset 0px -11px 30px -5px #CCC;
}

.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
  box-shadow:
    inset 0px 11px 8px -20px #CCC,
    inset 0px -15px 35px -2px #CCC;
}

.nav-link,
.bottom-nav-link {
  color: #55575b;
}

.bottom-nav-link.active {
  color: #922c88;
}

.bottom-tab-label {
  font-size: 12px;
}