.dark {

  background-color: #333;
  color: #fff;

  .bottom-tab-nav {
    border-top: solid 1px #222020;
    box-shadow:
      inset 0px 11px 8px -20px #232323,
      inset 0px -15px 35px -2px #262525;
  }

  nav {
    background-color: rgb(38, 36, 36);
    color: #fff;
  }

  .input-wrapper {
    background-color: #222020;
  }

  .results {
    background-color: #222020;
  }

  .search-input {
    color: whitesmoke;
  }

  .result-link {
    color: whitesmoke
  }

  .view-button {
    background-color: #222020;
    color: whitesmoke;
    border: none;
  }

}

.light {
  background-color: #fff;
  color: #333;
}